
.second-section{
    width: 100%;
    height: 200px;
    background:#D7E9F6;
    
   
    
}
.txt-registration  {
text-align: center;
margin-top: 0;
font-family: 'Inter';
font-style: normal;
font-size: 27px;
color: #495375;
padding-top: 70px;
}
